$zIndex-loading-base: 1000;
$zIndex-loading-lv1: $zIndex-loading-base+1;
$zIndex-loading-lv2: $zIndex-loading-base+2;
$zIndex-loading-lv3: $zIndex-loading-base+3;
$zIndex-toast-base: 990;
$zIndex-toast-lv1: $zIndex-toast-base+1;
$zIndex-toast-lv2: $zIndex-toast-base+2;
$zIndex-toast-lv3: $zIndex-toast-base+3;
$zIndex-modal-base: 980;
$zIndex-modal-lv1: $zIndex-modal-base+1;
$zIndex-modal-lv2: $zIndex-modal-base+2;
$zIndex-modal-lv3: $zIndex-modal-base+3;
$zIndex-cki-base: 100;
$zIndex-cki-lv1: $zIndex-cki-base+1;
$zIndex-cki-lv2: $zIndex-cki-base+2;
$zIndex-cki-lv3: $zIndex-cki-base+3;
$zIndex-cki-lv4: $zIndex-cki-base+4;