@import './reset.scss';
@import './minxins.scss';
.window2 {
    width: px2rem(100);
    height: px2rem(100);
    background: url('../images/window.png') repeat center center;
    @include border-right-radius(25px);
}

.window {
    transform: rotateX(120deg);
}

.container {
    margin: 5px;
    background: greenyellow;
    .box {
        padding: 10px;
        font-size: 20px;
        color: pink;
    }
}
